{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="mb-4">{{ _('Вход') }}</h3>
    <form method="post">
      <div class="mb-3">
        <label class="form-label">{{ _('Логин') }}</label>
        <input type="text" name="username" class="form-control" required autofocus>
      </div>
      <div class="mb-3">
        <label class="form-label">{{ _('Пароль') }}</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-dark w-100 mb-2">{{ _('Войти') }}</button>
    </form>
    <a href="{{ url_for('register') }}" class="btn btn-orange w-100">{{ _('Регистрация') }}</a>
  </div>
</div>
{% endblock %}